# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers nommés foo.txt
foo.txt
**/8051Master/Objects
**/8051Master/Listings
**/8051Master/test_fct.c

# Ignorer tous les fichiers uvision
*.lst
*.m51
*.obj
*.florian
*.Thomas
*.devin
*.out
*.mario
*.json
# à l'exception de foo.html qui est maintenu à la main
!foo.html
# Ignorer les objets et les archives
*.[oa]